@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body{
  background-color: aliceblue;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

h1{
  color: rgb(0, 104, 69);
  font-size: 25;
  line-height: normal;
}

p{
  color: black;
  margin-bottom: 40px;
}

.p_bold{
  font-weight: 900;
}

h2{
  color: rgb(38, 77, 14);
  font-size: 20;
  margin-bottom: 6px;
}

a{
  text-decoration: none;
  color: rgb(30, 30, 244);
}

a:hover{
  color: black;
}

.container{
  width: 700px;
  margin: 40px auto;
}

.text_center{
  text-align: center;
}

.card{
  border-radius: 5px;
  background: white;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  margin: 20px 0px;
  padding: 40px 0;
}

#btn{
  background-color: blue;
  color: white;
  padding: 15px 20px;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  left: 0;
}

#btn:hover{
  background-color: rgb(118, 118, 233);
  left: -200px;
}
img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

ul{
  display: block;
}

li{
  display: inline;
  padding: 5px;
}

.list_inline{
  margin-top: 5px;
  list-style: none;
  padding-left: 0;
  font-weight: 600;
  font-size: 40px;
}

#card_less_padding{
  padding: 0px;
}

.color_gradient{
  background: linear-gradient(0.25turn,white, rgb(244, 218, 218),white);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
